.r-root {
	display: flex;
	justify-content: center;
	align-items: center;
}

h1 {
	font-size: 15vw;
	margin: 0;
	padding: 0;
	text-transform: uppercase;
	font-weight: bold;
	line-height: 1;

	/*-webkit-text-fill-color: #fff;*/
	/*font-family: sans-serif;*/
	/*font-family: "Helvetica Neue LT Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;*/
}



/* WordMask Component */
.bg-mask {
    position: fixed;
    top: 0; right: 0; bottom: 0; left:0;
    /*background-color: rgba(148, 183, 236, 0.51);*/
    background-size: contain;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    /*background-blend-mode: color-burn;*/
    background-position: center center;
}

@media only screen and (min-width : 992px) {
  .bg-mask {
    background-size: cover;
  }
}
